


        <div class="row">

            <!-- Show Document here -->
            <div class="col-md-8">
                <div class="affix" style="width:60%">
                    <embed type="application/pdf" src="http://localhost:3005/naya-20160520101611/naya-20160520101611.pdf" width="100%" height="490" />
                </div>

            </div>

            <!-- Blog Sidebar Widgets Column -->
            <div class="col-md-4">
                <%= bootstrap_form_tag url: 'generate_code' do |form| %>
                <!-- Name Well -->
                <div class="well">
                    <div class="input-group">
                        <%= form.hidden_field :namespace, value: @namespace %>   
                        <%= form.text_field :name %>   
                    </div>
                    <!-- /.input-group -->
                </div>


                <!-- Comments Well -->
                <a href="#" onclick="toggler('comments');">show/hide comments</a>
                <div class="well hidden" id="comments">
                    <h4>Comments</h4>
                    <div class="input-group ">
                        <%= fields_for :comments do |f| %>
                            <div class="form-group">
                            <%= f.text_area :top, class: 'form-control' %>
                            <%= f.text_area :middle, class: 'form-control' %>
                            <%= f.text_area :bottom, class: 'form-control' %>
                        </div>
                        <% end %>
                    </div>
                    <!-- /.input-group -->
                </div>

                <!-- Variables Well -->
                <div class="well">
                    <h4>Variables</h4>
                    <div class="input-group">
                        <%= fields_for :variables do |f| %>
                            <div class="form-group">
                            <%= f.text_area :input, class: 'form-control' %>
                            <%= f.text_area :extra, class: 'form-control' %>
                            <%= f.text_area :output, class: 'form-control' %>
                        </div>
                        <% end %>
                    </div>
                    <!-- /.input-group -->
                </div>
                <!-- Languages Well -->
                <div class="well">
                    <h4>Languages</h4>
                    <div class="input-group">
                        <%= fields_for :languages do |f| %>
                            <%= f.check_box :c, inline: true, checked: true %> C
                            <%= f.check_box :c_plus_plus, label: 'C++', inline: true, checked: true %> C++
                            <%= f.check_box :c_sharp, label: 'C#', inline: true, checked: true %> C#
                            <%= f.check_box :javascript, inline: true, checked: true %> Javascript
                            <%= f.check_box :python, inline: true, checked: true %> Python
                            <%= f.check_box :java, inline: true, checked: true %> Java
                        <% end %>
                    </div>
                    <!-- /.input-group -->
                </div>

                <!-- Generate Well -->
                <div class="well">
                    <div class="input-group">
                        <%= form.submit :generate %>
                    </div>
                    <!-- /.input-group -->
                </div>

                <% end %>
            </div>

        </div>
        <!-- /.row -->
<script type="text/javascript">
function toggler(divId) {
    $("#" + divId).toggle();
}
</script>